$primary: #c72179;
$primary-light: #d272a8;
$nav-bg: #161616;
$hero-bg: #8a8a8a;
$contact-us-bg: #f8f8f8;
$footer-bg: #f3f3f3;
$gallery-bg: #f5f4f4;
$grey: #374f4f;
$btn-color: #707070;
$btn-border: #b8b6b6;
